/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Packaging ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Compiled class file ###
*.class

### virtual machine crash log ###
hs_err_pid*

### Log file ###
*.log